/* Write your CSS here */
.bg-RCB {
  background: linear-gradient(to bottom, #a4261d, #1e293b);
  min-height: 100vh;
}
.bg-KKR {
  background: linear-gradient(to bottom, #5755a7, #1e293b);
  min-height: 100vh;
}
.bg-KXP {
  background: linear-gradient(to bottom, #d91c1f, #1e293b);
  min-height: 100vh;
}

.bg-CSK {
  background: linear-gradient(to bottom, #f7db00, #1e293b);
  min-height: 100vh;
}

.bg-SRH {
  background: linear-gradient(to bottom, #f26d22, #1e293b);
  min-height: 100vh;
}

.bg-MI {
  background: linear-gradient(to bottom, #13418b, #1e293b);
  min-height: 100vh;
}

.bg-RR {
  background: linear-gradient(to bottom, #4f5db0, #1e293b);
  min-height: 100vh;
}
.main-container-team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.team-banner-image {
  height: 250px;
  width: fit-content;
  max-width: 90vw;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

ul li {
  margin: 5px;
}
.middle-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.latest-matches-p {
  text-align: left;
  color: #fff;
  font-family: 'Bree Serif';
  align-self: left;
}
